# AWS Dependencies
boto3==1.35.43
botocore==1.35.43

# Azure Dependencies
azure-identity==1.15.0
azure-mgmt-apimanagement==4.0.0
azure-mgmt-cdn==12.0.0
azure-mgmt-containerinstance==10.1.0
azure-mgmt-containerregistry==10.3.0
azure-mgmt-dns==8.1.0
azure-mgmt-network==25.3.0
azure-mgmt-redis==14.3.0
azure-mgmt-resource==23.0.1
azure-mgmt-search==9.1.0
azure-mgmt-sql==4.0.0
azure-mgmt-storage==21.1.0
azure-mgmt-trafficmanager==1.1.0
azure-mgmt-web==7.2.0

# GCP Dependencies
google-auth==2.28.0
google-cloud-compute==1.16.1
google-cloud-dns==0.35.0
google-cloud-functions==1.16.0
google-cloud-storage==2.14.0

# Common Dependencies
dnspython==2.6.1
pandas==2.2.2
PyYAML==6.0.1
tqdm==4.66.1
